<% active_n = local_assigns[:active_n] # Optional %>

<h2><%= title %></h2>
<article>
<% rows.each do |row| %>
  <div>
  <% row.each do |item| %>
    <%= content_tag (item[:n] == active_n ? :strong : :span) do %>
      <code><%= link_to item[:text], number_systems_path(n: item[:n]) %></code>
    <% end %>
  <% end %>
  </div>
<% end %>
</article>