<h1>Number Systems</h1>

<%= render 'table', rows: @base2_rows, title: 'Base 2 (binary)', active_n: @active_n %>
<%= render 'table', rows: @base8_rows, title: 'Base 8 (octal)', active_n: @active_n %>
<%= render 'table', rows: @base10_rows, title: 'Base 10 (decimal)', active_n: @active_n %>
<%= render 'table', rows: @base16_rows, title: 'Base 16 (hexdecimal)', active_n: @active_n %>