<h1>Trees</h1>

<section>
  <h3><%= pluralize(@b.size, 'item') %></h3>

  <%= render 'node', node: @b.root %>
</section>

<h3>Resources</h3>
<nav>
  <%= link_to 'educative.io', 'https://www.educative.io/collection/page/10370001/160001/220001' %>
</nav>