@import 'constants';

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

html {
    font-size: 20px;
    font-family: sans-serif;
    background: $base;
    color: $dark-shade;
}
body {
    line-height: 1.3;
}

main {
    max-width: 30em;
    margin: 1rem auto;
}

nav.primary {
    text-align: center;
    
    a {
        display: block;
    }
}

a {
    color: $active;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
ol {
    list-style: lower-roman;
}
td, th {
    padding: 0.333em;
}

.key {
    color: $key;
}
.positive {
    color: green;
    &.suffixed:after {
        content: ' +'
    }
}
.negative {
    color: red;
    &.suffixed:after {
        content: ' −'
    }
}