<!DOCTYPE html>
<html>
  <head>
    <title>Discrete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'main/index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main/index', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
